:root{
    --violeta-gc: #800080;
}

*{
    margin:  0px;
    padding: 0px;
    /* font-family: 'Roboto', sans-serif; */
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    margin:  0px !important;
    padding: 0px !important;

    padding-top: 3rem;
    /* padding-bottom: 3rem; */
    color: #5a5a5a;
}

/* Resaltado en blanco de los iconos de redes sociales */
.social:hover{
    color: white !important;
}

.profileimg{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    /* border: solid salmon; */
}

.mail:hover{
    cursor: pointer !important;
}

.card-columns{
    column-count: 2;
}
.chicasprog{
    column-count: 4 !important;
}

.gallery-img{
    transition: 1s;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.gallery-img:hover{
    /* filter: grayscale(100%); */
    transform: scale(1.3);
    /* cursor: pointer; */
}

.socialfooter{
    display: flex;
    justify-content: center;
}


/* MARKETING CONTENT
-------------------------------------------------- */
  
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h2 {
    font-weight: 400;
}
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}
  
/* Featurettes
------------------------- */
.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}
/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}
  
/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 990px) {
    .profileimg{
        margin-top: 20px;
    }
    .card-columns{
        column-count: 1;
    }
}
@media only screen and (max-width: 770px) {
    .habilidades-group{
        margin-top: 30px;
    }
    .chicasprog{
        column-count: 2 !important;
    }
}


@media only screen and (max-width: 530px) {
    /* .marketing{
        width: 85%;
    } */
    .socialfooter{
        flex-direction: column;
    }
}


@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}
  